{% extends 'base.html.twig' %}

{% block title %}New OpeningHours{% endblock %}

{% block main %}
    <div class="new">
        <h1>Créer</h1>

        {{ include('opening_hours/_form.html.twig') }}

        <a href="{{ path('app_opening_hours_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
