{% extends "base.html.twig" %}

{% block main %}

{% set k = number_of_free_time %}
{% for i in 0..k-1 %}
    <button type="button" class="free-time">{{ list_of_interval[i]|date("H:i") }}</button>
{% endfor %}

<script>

var buttons = document.getElementsByClassName('free-time');

var hour;

for (var i = 0; i < buttons.length; i++) {
    buttons[i].addEventListener('click', function(event) {
        hour = event.target.innerHTML;

        reservation(hour);
    });
}

function reservation(hour) {




    var date = '{{ date }}';
    var numberOfPeople = {{ numberOfPeople }}

    var url = 'new';

    var data = {
    date: date,
    hour: hour,
    numberOfPeople: numberOfPeople,
    reservationTable: 4
    };

    fetch(url, {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json',
    },
    body: JSON.stringify(data),
    })
    .then(function(response) {
        if (response.ok) {
        console.log('ok');
        }
        throw new Error('Erreur HTTP ' + response.status);
    })
    .then(function(data) {
        // Traitement de la réponse JSON
        console.log(data);
    })
    .catch(function(error) {
        // Gestion des erreurs
        console.error(error);
    });

    setTimeout(() => {
    window.location.href = '{{path('home')}}'
    }, 300);



}



</script>
{% endblock %}






