@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;600&family=Lora:wght@600&family=Montserrat:wght@700&display=swap');

body {
    margin: 0px;
    background-color: #E4DDCD;
}

h1, h2, h3, h4, h5 {
    font-family: 'Lora', serif;
}

p, td, th, a, li {
    font-family: 'Hind', sans-serif;
}

td, th {
    padding: 10px;
}

.header {
    background-color: #392C1E;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 125px;
}

.logo {
    width: 85px;
    height: 85px;
    margin-left: 25px;
    border-radius: 8px;
}

.logo:hover {
    width: 95px;
    height: 95px;
}

.title {
    position: absolute;
    left: 40%;
    color: #E10000;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}

button {
    height: 50px;
    width: 150px;
    background-color: #E10000;
    color: #E4DDCD;
    font-family: 'Hind', sans-serif;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    margin-right: 25px;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
}

.zone-admin, .deconnexion {
    width: 200px;
}
main h2 {
    margin-left: 15px;
    font-size: 2rem;
}

main {
    background-color: #E4DDCD;
}

.mealDisplay {
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.oneMeal {
    position: relative;
}


.mealName {
    display: none;
}

.mealImage {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 5px 5px 10px black ;
}

.oneMeal:hover > .mealName {
    display: flex;
    position: absolute;
    top: -60px;
}

.reservation {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reservation-btn {
    height: 90px;
    width: 250px;  
    font-size: 2rem;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black ;
}

.footer {
    height: 150px;
    display: grid;
    grid-template-columns: 75% 1fr;
    background-color: #E4DDCD;
    border-top: solid 2px #392C1E;
}

.schedule {
    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule h4 {
    padding-left: 10px;
    color: #E10000;
}

.schedule li {
    list-style: none;
    margin-right: 25px;
    margin-left: -15px;
}

.contact {
    border-left: solid 2px #392C1E;
    text-align: center;
}

.time {
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu {
    display: grid;
    grid-template-rows: 1fr 1.5fr;
}

.menu-offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px #392C1E;
}

.menu-meals {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: solid 2px #392C1E;
}

.menu-meals h1 {
    margin-left: 15px;
}

.menu-starter, .menu-dish {
    border-right: solid 2px #392C1E;
}

.menu-allergen-list {
    list-style: none;
}

.menu-allergen {
    color: rgb(255, 0, 0);
    display: inline;
}

.description {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: solid 2px #392C1E;
}

.free {
    margin-top: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.free-time {
    margin: 10px;
}

.reservation-div {
    text-align: center;
}

.reservation-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

label, input {
    font-family: 'Hind', sans-serif;
    margin: 5px;
}

.table {
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.closed-div, .full-div {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-btn, .edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.admin-btn button {
    margin-top: 40px;
}

.edit form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.edit form > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.edit > *, .edit form > * {
    margin-top: 15px;
}