{% extends "base.html.twig" %}

{% block main %}

    <div class="articles-container">
        {% for meal in meals %}
                <h1>{{ meal.name }}</h1>
                <img src="{{ asset('/uploads/meal/' ~ meal.image)}}"/>
        {% endfor %}

    </div>

{% endblock main %}