<h1>Table {{ table.number }}</h1>

<h2>Réservations :</h2>
{% if table.tableReservation is empty %}
    <p>Aucune réservation pour cette table.</p>
{% else %}
    <ul>
        {% for reservation in table.tableReservation %}
            <li>
                Date : {{ reservation.date|date('Y-m-d') }}, 
                Heure : {{ reservation.hour|date('H:i') }}, 
                Nombre de personnes : {{ reservation.numberOfPeople }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
