{% extends "base.html.twig" %}

{% block main %}

<div class="free">
    {% set k = number_of_free_time %}
    {% for i in 0..k-1 %}
        <button type="button" class="free-time">{{ list_of_interval[i]|date("H:i") }}</button>
    {% endfor %}
</div>
{% endblock %}






