{% extends 'base.html.twig' %}


{% block main %}
    <h1>Modifier la table</h1>

    {{ include('table/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_table_index') }}">Retour à la liste</a>

    {{ include('table/_delete_form.html.twig') }}
{% endblock main %}
