{% extends 'base.html.twig' %}

{% block main %}
    <div class="new">
        <h1>Créer une nouvelle table</h1>

        {{ include('table/_form.html.twig') }}

        <a href="{{ path('app_table_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
